.myborder span{
	width: 80px;
	height: 80px;
	background-color: #ffccaa;
	display: inline-block;
}
.myborder-1 span{
	width: 80px;
	height: 80px;
	background-color: #ffccaa;
	display: inline-block;
	border:1px solid #ddd;

}

.box{
	min-height: 80px;
	background-color: red;
	margin-top: 10px;
}